{{!-- <h1>{{title}}</h1>
<p>Welcome to ConnectPro</p> --}}

{{!-- Nylas Scheduler - not currently in use --}}

    <!-- Create a button and give it an ID that we'll reference later --> 
    {{!-- <br>
    <button type="button" id="schedule-editor">Add New Event</button>

    <script>
      var btn = document.getElementById('schedule-editor');
      btn.addEventListener('click', function() {
        // Invoke the schedule editor when a user clicks on the button
        nylas.scheduler.show({
          auth: {
            // Account access_token with active calendar scope
            accessToken: "eal4786kyq3VkTwHX9OFYqxVDxmeor", 
          },
          style: {
            // Style the schedule editor
            tintColor: '#32325d',
            backgroundColor: 'white',
          },
          defaults: {
            event: {
              title: 'Event Name',
              duration: 30,
            },
          },
        });
      });
    </script>

  <script src="https://schedule.nylas.com/schedule-editor/v1.0/schedule-editor.js" type="text/javascript"></script> --}}
  


<h1> Welcome to ConnectPro </h1>

{{!-- {{#each articles}}
   <li>{{this.title}}</li>
{{/each}} --}}


{{!-- =-=-=-=-=-=GOOGLE CALENDAR BEGIN=-=-=-=-=-=-
<iframe src="https://calendar.google.com/calendar/embed?src=ii3296vtnjvn1veip660uv2b54%40group.calendar.google.com&ctz=America%2FNew_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
=-=-=-=-=-=GOOGLE CALENDAR END=-=-=-=-=-=- --}}



{{!-- <div class="home">

   <div class="calendar">
  <div data-tockify-component="mini" data-tockify-calendar="ironhackproject2">
  </div>
<script data-cfasync="false" data-tockify-script="embed"
                                  src="https://public.tockify.com/browser/embed.js"></script>

  <a href="https://tockify.com/tkf2/submitEvent/9de91d900a4947018c0da4e160971023" target="_blank">Submit an Event</a>
</div>

   <div class="news">
      {{#each articles}}
      <li>
         <img class="articles" src="{{this.urlToImage}}" alt="Image not found buddy, thanks random API">
         <a href="{{this.url}}">

            {{this.title}}
         </a>

      </li>
      {{/each}}
   </div>

{{!-- <iframe src="https://calendar.google.com/calendar/embed?src=2994qrfm9u69prmrjf99q3od3g%40group.calendar.google.com&ctz=America%2FNew_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe> --}}

</div> --}}
