<h4>Welcome, {{ currentUser.firstName }}!</h4>
<hr>

<div class="home">

   <div class="calendar">
  <div data-tockify-component="mini" data-tockify-calendar="ironhackproject2">
  </div>
<script data-cfasync="false" data-tockify-script="embed"
                                  src="https://public.tockify.com/browser/embed.js"></script>

  <a href="https://tockify.com/tkf2/submitEvent/9de91d900a4947018c0da4e160971023" target="_blank">Submit an Event</a>
</div>

   <div class="news">
      {{#each articles}}
      <li>
         <img class="articles" src="{{this.urlToImage}}" alt="Image not found buddy, thanks random API">
         <a href="{{this.url}}">

            {{this.title}}
         </a>

      </li>
      {{/each}}
   </div>


</div>



<h4>Groups</h4>
<ul>
{{#each groups}}
  <li><a href="/groups/{{this._id}}">{{this.groupName}}</a></li>
{{/each}}
</ul>

<button><a href="/addgroup">Add New Group</a></button>



{{#each articles}}
   <li>{{this.title}}</li>
{{/each}}
