<h2>Contact Information</h2>

{{details.avatar}}

{{!-- HOW TO RENDER DEFAULT IMAGE OPTION?? --}}

<p>
<b>Name:</b> {{details.firstName}} {{details.lastName}}
<br>
<br>
<b>Companies:</b> {{details.companyOne}}, {{details.companyTwo}}
<br>
<br>
<b>Personal Email:</b> {{details.personalEmail}}
<br>
<br>
<b>Work Email:</b> {{details.workEmail}}
<br>
<br>
<b>Group:</b> {{details.group}}
<br>
<br>
<b>Personal Address:</b> {{details.personalAddress}}
<br>
<br>
<b>Work Address:</b> {{details.workAddress}}
<br>
<br>
<b>Social Media Profile:</b> {{details.socialProfile}}
<br>
<br>
<b>Birthday:</b> {{details.birthday}}
<br>
<br>
<b>Notes:</b> {{details.notes}}
</p>

<button> <a href="/contacts/{{contacts._id}}/delete"></a></button>